<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="helloWorld" class="springpractice.HelloWorld">
        <property name="message" value="Hi, I'm Paul!" />
    </bean>

    <bean id="customEventHandler" class="springpractice.CustomEventHandler" />
    <bean id="customEventPublisher" class="springpractice.CustomEventPublisher" />
    <!--
    <bean id="javaCollection" class="springpractice.JavaCollection">
        <property name="addressList">
            <list>
                <value>India</value>
                <value>Pakistan</value>
                <value>USA</value>
                <value>USA</value>
            </list>
        </property>
        <property name="addressSet">
            <set>
                <value>India</value>
                <value>Pakistan</value>
                <value>USA</value>
                <value>USA</value>
            </set>
        </property>
        <property name="addressMap">
            <map>
                <entry key="1" value="India"/>
                <entry key="2" value="Pakistan"/>
                <entry key="3" value="USA"/>
                <entry key="4" value="USA"/>
            </map>
        </property>
        <property name="addressProp">
            <props>
                <prop key="one">India</prop>
                <prop key="two">Pakistan</prop>
                <prop key="three">USA</prop>
                <prop key="four">USA</prop>
            </props>
        </property>
    </bean>
    <bean id="textEditor" class="springpractice.TextEditor">
        <property name="spellChecker">
            <bean id="spellChecker" class="springpractice.SpellChecker" />
        </property>
    </bean>

    <bean id="helloWorld" class="springpractice.HelloWorld">
        <property name="message1" value="Hello World!"/>
        <property name="message2" value="Hello 2nd World!" />
    </bean>

    <bean id="helloIndia" class="springpractice.HelloIndia" parent="helloWorld">
        <property name="message1" value="Hello India!" />
        <property name="message3" value="Namaste India!" />
    </bean>
    -->
</beans>